

.App{
  display: flex;
  justify-content: center;
  
}

.contact_list{
  border: 1px solid black;
  width:50%;
  text-align: center;

}
.list{
  width: 50%;
  border: 1px solid black;
  text-align: left;
  margin: 0 auto;
}

li{
  margin-top: 50px;
  line-height: 10px;
}

